:root {
	/* Layout */
	--mobile-width: 375px;
	--desktop-width: 1440px;

	/* Colors */
	--marine-blue: hsl(213, 96%, 18%);
	--purplish-blue: hsl(243, 100%, 62%);
	--pastel-blue: hsl(228, 100%, 84%);
	--light-blue: hsl(206, 94%, 87%);
	--strawberry-red: hsl(354, 84%, 57%);
	--cool-gray: hsl(231, 11%, 63%);
	--light-gray: hsl(229, 24%, 87%);
	--magnolia: hsl(217, 100%, 97%);
	--alabaster: hsl(231, 100%, 99%);
	--white: hsl(0, 0%, 100%);

	/* Typography */
	--body-font-size: 16px;
	--body-font-family: 'Ubuntu', sans-serif;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1rem; /* Sets a base font size */
	line-height: 1.5; /* Establishes line height for better readability */
	font-family: sans-serif; /* Default font stack */
	background-color: var(--magnolia);
}

ol,
ul {
	list-style: none; /* Removes default list styles */
}

img {
	max-width: 100%; /* Ensures images are responsive within their parent containers */
	height: auto; /* Prevents image distortion by maintaining aspect ratio */
}
.numbered-indicators > * {
	width: 60px;
	font-family: var(--ff-serif);
	font-size: var(--fs-500);
	border: 1px solid var(--white);
	border-radius: 50%;
	background-color: var(--light-blue) / 0;
	color: var(--white);
	aspect-ratio: 1;
	padding: 0;
}

.numbered-indicators > button:hover,
.numbered-indicators > button:focus {
	border-color: hsl(var(--clr-white) / 0.5);
}
.numbered-indicators > [aria-selected='true'] {
	color: hsl(var(--clr-dark));
	background-color: var(--light-blue);
}

/* Sidebar Styles */
.sidebar {
	background-image: url(assets/images/bg-sidebar-desktop.svg);
	background-size: cover;
	background-repeat: no-repeat;

	width: 35%;
	max-width: 274px;
}

.sidebar ul {
	list-style: none;
	padding: 5em 1em;
	margin: auto;
}

.sidebar ul li {
	margin-bottom: 10px;
	cursor: pointer;
}

.sidebar ul li.active {
	font-weight: bold;
}

/* Adjust Form Content Styles */
.form-container {
	background-color: var(--white);
	background-size: cover;
	border-radius: 20px;
	box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.1);
	margin: 10% auto;
	max-width: 60%;

	display: flex;
	padding: 1em;
}
.form-step {
	height: 100%;
}
.content-container {
	display: flex;
	flex-direction: column;

	height: 80%;
}
.form-content {
	padding-inline: 3rem;
	flex: 1;
}
.step-title {
}
.input-group input {
	width: 100%;
}
/* Attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
	margin-top: 5em;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
